# web
DATABASE_URL="postgres://postgres:postgres@localhost:5432/main"
INDEXER_DATABASE_URL="postgres://postgres_read:postgres_read@localhost:5433/apollo-objekts"

VITE_UMAMI_SCRIPT_URL=
VITE_UMAMI_WEBSITE_ID=

VITE_ACTIVITY_WEBSOCKET_URL=

BETTER_AUTH_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=

SES_REGION=
SES_ACCESS_KEY=
SES_SECRET_KEY=
SES_MAIL_FROM=

VITE_LIVE_API_KEY= # getstream.io api key, get by http inspect Cosmo app request
BYPASS_LIVE_KEY=

REDIS_URL=
VITE_SITE_URL=
COSMO_KEY= # BASE64_ENCRYPTION_KEY value in Cosmo app

# indexer
INDEXER_SQD_ENDPOINT="https://portal.sqd.dev/datasets/abstract-mainnet"
INDEXER_ENABLE_OBJEKTS=true
INDEXER_ENABLE_GRAVITY=true
INDEXER_COSMO_PARALLEL_COUNT=50
INDEXER_FORCE_PRETTY_LOGGER=1
