INDEXER_PROXY_KEY=key
INDEXER_PROXY_URL=http://localhost:8081
DB_PROXY_KEY=key
DB_PROXY_URL=http://localhost:8080
DATABASE_URL="postgres://postgres:postgres@localhost:5432/main"
REDIS_URL=redis://:password@localhost:6379
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NEXT_PUBLIC_UMAMI_SCRIPT_URL=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=

# used by docker compose
REDIS_HOST_PASSWORD=password