@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-react-aria-components";

@variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    var(--font-sans), var(--font-noto-sans-kr), var(--font-noto-sans-sc), ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-mono), "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    '"Liberation Mono"', '"Courier New"', "monospace";

  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-mono--font-feature-settings: "ss02", "zero";

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-primary-subtle: var(--primary-subtle);
  --color-primary-subtle-fg: var(--primary-subtle-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);
  --color-success-subtle: var(--success-subtle);
  --color-success-subtle-fg: var(--success-subtle-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);
  --color-danger-subtle: var(--danger-subtle);
  --color-danger-subtle-fg: var(--danger-subtle-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
  --color-warning-subtle: var(--warning-subtle);
  --color-warning-subtle-fg: var(--warning-subtle-fg);

  --color-info-subtle: var(--info-subtle);
  --color-info-subtle-fg: var(--info-subtle-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* custom */
  --aspect-photocard: 1083 / 1673;

  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);

  --animate-live-animation-bg: live-animation-bg 1s var(--ease-out-cubic) 0s 1;

  @keyframes live-animation-bg {
    0% {
      background-color: var(--muted);
    }
    to {
      background-color: initial;
    }
  }
}

:root {
  --bg: oklch(1 0 0);
  --fg: oklch(0.21 0.006 285.885);
  --primary: oklch(0.141 0.005 285.823);
  --primary-fg: oklch(0.985 0 0);
  --primary-subtle: oklch(0.442 0.017 285.786 / 0.1);
  --primary-subtle-fg: oklch(0.37 0.013 285.805);
  --secondary: oklch(0.92 0.004 286.32);
  --secondary-fg: oklch(0.141 0.005 285.823);
  --overlay: oklch(1 0 0);
  --overlay-fg: oklch(0.141 0.005 285.823);
  --accent: oklch(0.585 0.233 277.117 / 0.15);
  --accent-fg: oklch(0.457 0.24 277.023);
  --accent-subtle: oklch(0.585 0.233 277.117 / 0.15);
  --accent-subtle-fg: oklch(0.457 0.24 277.023);
  --muted: oklch(0.967 0.001 286.375);
  --muted-fg: oklch(0.552 0.016 285.938);
  --success: oklch(0.897 0.196 126.665);
  --success-fg: oklch(0.274 0.072 132.109);
  --success-subtle: oklch(0.841 0.238 128.85 / 0.2);
  --success-subtle-fg: oklch(0.532 0.157 131.589);
  --info: oklch(0.685 0.169 237.323);
  --info-fg: oklch(1 0 0);
  --info-subtle: oklch(0.685 0.169 237.323 / 0.15);
  --info-subtle-fg: oklch(0.5 0.134 242.749);
  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);
  --warning-subtle: oklch(0.828 0.189 84.429 / 0.2);
  --warning-subtle-fg: oklch(0.555 0.163 48.998);
  --danger: oklch(0.586 0.253 17.585);
  --danger-fg: oklch(1 0 0);
  --danger-subtle: oklch(0.645 0.246 16.439 / 0.15);
  --danger-subtle-fg: oklch(0.514 0.222 16.935);
  --border: oklch(0.911 0.006 286.286);
  --input: oklch(0.871 0.006 286.286);
  --ring: oklch(0.141 0.005 285.823);
  --navbar: oklch(0.995 0 0);
  --navbar-fg: oklch(0.141 0.005 285.823);
  --sidebar: oklch(0.985 0 0);
  --sidebar-fg: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.442 0.017 285.786 / 0.1);
  --sidebar-primary-fg: oklch(0.37 0.013 285.805);
  --sidebar-accent: oklch(0.585 0.233 277.117);
  --sidebar-accent-fg: oklch(1 0 0);
  --sidebar-border: oklch(0.901 0.006 286.286);
  --sidebar-ring: oklch(0.141 0.005 285.823);
  --chart-1: oklch(0.274 0.006 286.033);
  --chart-2: oklch(0.37 0.013 285.805);
  --chart-3: oklch(0.442 0.017 285.786);
  --chart-4: oklch(0.552 0.016 285.938);
  --chart-5: oklch(0.705 0.015 286.067);

  --radius-lg: 0.5rem;
  --radius-xs: calc(var(--radius-lg) * 0.25);
  --radius-sm: calc(var(--radius-lg) * 0.5);
  --radius-md: calc(var(--radius-lg) * 0.75);
  --radius-xl: calc(var(--radius-lg) * 1.5);
  --radius-2xl: calc(var(--radius-lg) * 2);
  --radius-3xl: calc(var(--radius-lg) * 3);
  --radius-4xl: calc(var(--radius-lg) * 4);

  --font-sans: var(--font-ot-sans);
  --font-mono: var(--font-ot-mono);

  /* custom */
  --accent-solid: oklch(0.585 0.233 277.117);
}

.dark {
  --bg: oklch(0.141 0.005 285.823);
  --fg: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-fg: oklch(0.141 0.005 285.823);
  --primary-subtle: oklch(0.442 0.017 285.786 / 0.1);
  --primary-subtle-fg: oklch(0.705 0.015 286.067);
  --secondary: oklch(0.244 0.006 286.033);
  --secondary-fg: oklch(0.985 0 0);
  --overlay: oklch(0.18 0.006 285.885);
  --overlay-fg: oklch(0.985 0 0);
  --accent: oklch(0.585 0.233 277.117 / 0.1);
  --accent-fg: oklch(0.673 0.182 276.935);
  --accent-subtle: oklch(0.585 0.233 277.117 / 0.1);
  --accent-subtle-fg: oklch(0.673 0.182 276.935);
  --muted: oklch(0.21 0.006 285.885);
  --muted-fg: oklch(0.705 0.015 286.067);
  --success: oklch(0.897 0.196 126.665);
  --success-fg: oklch(0.274 0.072 132.109);
  --success-subtle: oklch(0.841 0.238 128.85 / 0.1);
  --success-subtle-fg: oklch(0.897 0.196 126.665);
  --info: oklch(0.685 0.169 237.323);
  --info-fg: oklch(1 0 0);
  --info-subtle: oklch(0.685 0.169 237.323 / 0.1);
  --info-subtle-fg: oklch(0.828 0.111 230.318);
  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);
  --warning-subtle: oklch(0.828 0.189 84.429 / 0.1);
  --warning-subtle-fg: oklch(0.828 0.189 84.429);
  --danger: oklch(0.586 0.253 17.585);
  --danger-fg: oklch(1 0 0);
  --danger-subtle: oklch(0.645 0.246 16.439 / 0.1);
  --danger-subtle-fg: oklch(0.712 0.194 13.428);
  --border: oklch(0.27 0.013 285.805);
  --input: oklch(0.31 0.013 285.805);
  --ring: oklch(0.985 0 0);
  --navbar: oklch(0.19 0.006 285.885);
  --navbar-fg: oklch(0.985 0 0);
  --sidebar: oklch(0.18 0.006 285.885);
  --sidebar-fg: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.442 0.017 285.786 / 0.1);
  --sidebar-primary-fg: oklch(0.705 0.015 286.067);
  --sidebar-accent: oklch(0.585 0.233 277.117);
  --sidebar-accent-fg: oklch(1 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.985 0 0);
  --chart-1: oklch(0.985 0 0);
  --chart-2: oklch(0.92 0.004 286.32);
  --chart-3: oklch(0.871 0.006 286.286);
  --chart-4: oklch(0.705 0.015 286.067);
  --chart-5: oklch(0.552 0.016 285.938);

  /* custom */
  --accent-solid: oklch(0.585 0.233 277.117);
}

@utility touch-target {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }
}

@layer base {
  * {
    text-rendering: optimizeLegibility;
    /*
     * Scrollbar
     */
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }
}

.react-aria-DropIndicator[data-drop-target] {
  outline: 1px solid var(--primary);
  transform: translateZ(0);
}
