name: Next.js Docker CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build web docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./apps/web/prod.Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/${{ github.repository }}-web:${{ github.sha }}
            ghcr.io/${{ github.repository }}-web:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          secrets: |
            umami_script_url=${{ secrets.NEXT_PUBLIC_UMAMI_SCRIPT_URL }}
            umami_website_id=${{ secrets.NEXT_PUBLIC_UMAMI_WEBSITE_ID }}
            activity_websocket_url=${{ secrets.NEXT_PUBLIC_ACTIVITY_WEBSOCKET_URL }}
            better_auth_secret=${{ secrets.BETTER_AUTH_SECRET }}
            discord_client_id=${{ secrets.DISCORD_CLIENT_ID }}
            discord_client_secret=${{ secrets.DISCORD_CLIENT_SECRET }}
            twitter_client_id=${{ secrets.TWITTER_CLIENT_ID }}
            twitter_client_secret=${{ secrets.TWITTER_CLIENT_SECRET }}
            browser_cdp_url=${{ secrets.BROWSER_CDP_URL }}
            site_url=${{ secrets.NEXT_PUBLIC_SITE_URL }}
            database_url=${{ secrets.DATABASE_URL }}
            indexer_database_url=${{ secrets.INDEXER_DATABASE_URL }}
            s3_endpoint=${{ secrets.S3_ENDPOINT }}
            s3_access_key=${{ secrets.S3_ACCESS_KEY }}
            s3_secret_key=${{ secrets.S3_SECRET_KEY }}
            ses_region=${{ secrets.SES_REGION }}
            ses_access_key=${{ secrets.SES_ACCESS_KEY }}
            ses_secret_key=${{ secrets.SES_SECRET_KEY }}
            ses_mail_from=${{ secrets.SES_MAIL_FROM }}
            live_api_key=${{ secrets.NEXT_PUBLIC_LIVE_API_KEY }}
            bypass_live_key=${{ secrets.BYPASS_LIVE_KEY }}
            redis_url=${{ secrets.REDIS_URL }}

      - name: Build server docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./apps/server/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/${{ github.repository }}-server:${{ github.sha }}
            ghcr.io/${{ github.repository }}-server:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build worker docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./apps/worker/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/${{ github.repository }}-worker:${{ github.sha }}
            ghcr.io/${{ github.repository }}-worker:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  cleanup:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Delete all untagged web images
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ github.event.repository.name }}-web
          package-type: container
          delete-only-untagged-versions: true
          min-versions-to-keep: 3

      - name: Delete all untagged server images
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ github.event.repository.name }}-server
          package-type: container
          delete-only-untagged-versions: true
          min-versions-to-keep: 3

      - name: Delete all untagged worker images
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ github.event.repository.name }}-worker
          package-type: container
          delete-only-untagged-versions: true
          min-versions-to-keep: 3
